$background: #192129;
$light: #192129;

.about {
    .background {
        position: absolute;
        left: 0;
        top: 0;
        background: $background;
        width: 100vw;
        height: 100vh;
        animation: colorAnimation 1s ease-in-out;
        z-index: -5;

        @keyframes colorAnimation {
            from {
                clip-path: circle(10% at 0% 0%);
            }
            to {
                clip-path: circle(200% at 0% 0%);
            }
        }
    }
}
